/* * { */
 /* background-color: rgb(207, 202, 202); */
 /* font-size: 20px; */
/* } */

header img#logo {

    float: left;
    margin: 2px;
    display: block;
   
}

header p:first-of-type {
    font-style:oblique;
    font-size: 0.3in;
    padding: 0;
    display: inline-block;
    margin: 0px;
}

header p:nth-of-type(2){
    margin: 0;
    display: inline-block;
}

body header nav ul li a {
    padding: 0;
    margin: 0;
}

div#first {
    display: inline-block;
    margin: 0%;
    width: 60%;
    padding-left: 100px;
}


nav {
    float: right;
    width: 25%;
}


.list{
    list-style: none;
    display:inline-block;
}


main h5{
    font-size: .4in;
    width: 70%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    padding-left: 100px;
}

main h6{
    font-size: 9px;
    width: 70%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    padding-left: 100px;
}

#printImg {
    float: right;
    margin: 0;
    display: block;
    position: relative;
    padding-right: 100px;
}

#chocoimg{
  display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width:800px;
    padding-top: 30px;
}

p.one {
    padding-left: 100px;
    padding-right: 100px ;
    text-align: left;
    margin-bottom: 0;
}
p.two{
    padding-left: 100px;
    padding-right: 100px ;
    text-align: left;
    margin-bottom: 0;
}

p.three {
    padding-left: 100px;
    padding-right: 100px ;
    text-align: left;
    margin-bottom: 0;
}

 
#allList {
    background: url("images/list-bg.png") no-repeat;
 /* position: relative; */
 width: 100%;
 display: inline-block;
 width: 60%;
 margin-left: 300px;
}

#firstList {
    width:fit-content;
    float: left;
    padding-left: 150px;
    list-style: none;
    text-align:left; 
}

#secondList {

    float: right;
    width:fit-content;
    /* padding-right: 150px; */
    list-style: none;
    text-align: left; }



ul div {
    /* background: url("images/list-bg.png") no-repeat; */
    padding-left: 100px;
    height:fit-content;
    overflow:hidden;
}
    /* /* display: block; */
    /* margin-left:auto ;
    margin-right: auto;  */



#checkboxes{ 
   
    list-style:none;
    padding: 20px;
    margin: 20px;
}
    /* background:transparent; */
    /* background :url("images/list-bg.png") no-repeat; */




    img#vanessa {
        display: inline-block;
        margin: 0;
        padding: 0;
        padding-left: 220px;

    }


main p.venText{
float:right;
    display: block;
    width: 50%;
    padding-right: 450px;
    margin: 0;
}



footer img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}



footer p {
    padding: 0;
    text-align: center;
    margin: 0%;
    margin-top: 5px;
}

#butt{background-color: brown;
    height: 40px;
    width: 130px;}